<?xml version="1.0"?>
<model>
  <name>TU Delft banner</name>
  <version>1.0</version>
  <sdf version='1.6'>uni_banner.sdf</sdf>

  <author>
   <name>Jakub Wysocki</name>
   <email>kubadewysocki@gmail.com</email>
  </author>

  <description>
    TU Delft banner for the Cyberzoo simulation
  </description>
</model>