<?xml version="1.0"?>
<model>
  <name>gate</name>
  <version>1.0</version>
  <sdf version='1.6'>gate.sdf</sdf>
  <author>
   <name>Your Name</name>
   <email>your.email@example.com</email>
  </author>
  <description>
    MAVLab gate for simulation. Horizontal gate parts use gate/black.png and vertical square-gate poles use gate/blue.png.
  </description>
</model>
