<?xml version="1.0"?>
<model>
  <name>TU Delft MAVLab Gate</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Jakub Wysocki</name>
    <email>kubadewysocki@gmail.com</email>
  </author>
  <description>A custom drone racing gate for the TU Delft MAVLab.</description>
</model>
